@import "tailwindcss";

@theme {
  --color-primary: #F0F0F0;
  --color-secondary: #f42c37;
  --color-brandYellow: #fdc62e;
  --color-brandGreen: #2dcc6f;
  --color-brandBlue: #1376f4;
  --color-brandWhite: #eeeeee;
  --color-background: #F5F5DC;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Montserrat Alternates", sans-serif;

  --container-hello:center: true
        padding: {
          DEFAULT: "1rem",
          sm: "3rem",
    }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}


@layer components {
    .search-bar {
        @apply w-[557px] rounded-full border bg-primary h-[48px] text-black border-primary px-3 py-1;
    }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
